html, body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #FFF;
    font-size: 1.2em;
}

.navbar-brand {
    min-height: 80px;
    padding: 0 15px 15px;
}

.navbar-default .navbar-nav li a {
    color: #12315C;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #12315C;
}

#home {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/jef-student_blue.jpeg) no-repeat center center fixed;
    display: table;
    height: 70%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    color: #FFF;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 80px 0;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.padding {
    padding: 80px 0px 0px 15px;
}

.padding img {
    width: 100%;
}

#fixed {
    background:  url(../img/jef-student_blue.jpeg) no-repeat center center fixed;
    display: table;
    height: 40%;
    width: 100%;
    position: relative;
    background-size: cover;
}

.logo {
    width: 380px;
}

.logo-icon {
    max-width: 200px;
}

footer {
    width: 100%;
    background-color: #12315C;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}

.fab {
    padding: 15px;
    color: #FFF;
    font-size: 25px;
}

.fa:hover {
    color: #d5d5d5;
    text-decoration: none;
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .logo-icon {
        padding-top: 5%;
        max-width: 100px;
    }
    .navbar-brand h2 {
        font-size: 90%;
    }

}